.vscode/

Doc/Doc.aux
Doc/Doc.log
Doc/Doc.out
Doc/Doc.synctex.gz
Doc/Doc.toc

Droml/_build/
Droml/.vscode/
Droml/Notes/
Droml/obj/

Droml/a.out
Droml/DEBUG.txt
Droml/droml
Droml/Out.ll
Droml/Out.s
Droml/Test.drm

LLVMTest/

TODO.txt