Doc/Doc.aux
Doc/Doc.log
Doc/Doc.out
Doc/Doc.synctex.gz
Doc/Doc.toc
TODO.txt
.vscode/
Droml/DEBUG.txt
Droml/_build/
Droml/obj/*.*
Droml/Notes/
Droml/.vscode/
Droml/a.out
Droml/droml
Droml/Out.ll
Droml/Out.s
Droml/Test.drm
LLVMTest/
