tabsize=4
drmlibs="cutils/drmstdlib/Drmstdlib.drm","cutils/edulib/Edulib.drm"
drmlibs="cutils/drmstdlib/Drmstdlib.drm"
cpplibs="obj/gc.so","obj/listops.so","obj/templ_intrinsics.so","obj/cpputils_File.so","obj/cpputils_Regex.so","obj/cpputils_Time.so","obj/edulib_cpputils_Turtle.so"
cpplibs="obj/gc.so","obj/listops.so","obj/templ_intrinsics.so","obj/cpputils_File.so","obj/cpputils_Regex.so","obj/cpputils_Time.so"